* {
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    background-color: #3C467B;
    height: 5rem;
    color: white;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.choice:hover {
    background-color: #000B58;
    cursor: pointer;
    transition: all 0.1s ease-in;
    transform: scale(1.1);
}


img {
    height: 150px;
    width: 150px;
    object-fit: cover ;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;;
    align-items: center;
    gap: 3rem; 
    margin-top: 4rem;
}


.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 5rem;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}


#msg {
    margin-top: 5rem;
    background-color: #19183B;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}